.ant-modal-content
{
    text-align: center;
    border-radius: 16px !important;
    position: absolute;
    top: 0;
}
.ant-modal
{
    width: 460px;
    direction: ltr;
}
.ant-modal-wrap
{
    backdrop-filter: blur(9.899999618530273px);
}